.folder {
  color: goldenrod;
  margin-top: 20px;
  display: block;
  font-size: 75px;
  margin-left: 15px;
  cursor: pointer;
  max-width: 250px;
}

.folders {
  margin-bottom: 10px;
}

.folder-name {
  margin-left: 35px;
  color: #eee;
}
